<%= search_form_for @q do |f| %>
  <%= f.label :subject_cont, "Search Articles by Topic Keywords" %>
  <%= f.search_field :subject_cont %>
  <%= f.submit "Search" %>
<% end %>

<p><h3>
  <%= sort_link(@q, :id, "by ID") %> |
  <%= sort_link(@q, :updated_at, "by time") %> |
  <%= sort_link(@q, :comments_count, "by replies") %> |
  <%= sort_link(@q, :category_id, "by categories") %>
</p></h3>
  <table class = "table table-bordered table-striped text-center">
    <tr>
      <th><h3>Title</h3></th>
      <th><h3>Category</h3></th>
      <th><h3>Author</h3></th>
      <th><h3>Time</h3></th>
      <th><h3>Views</h3></th>
      <th><h3>Comments</h3></th>
    </tr>

  <h2><% @topics.each do |p| %>
    <tr>
      <td><%= link_to p.subject, topic_path(p) %></td>
      <td><%= p.category.try(:name) %></td>
      <td><%= link_to p.user.try(:display_name),user_path(p.user.id) %></td>
      <td><%= p.created_at.to_s(:short) %></td>
      <td><%= p.views_count %></td>
      <td><%= p.comments.size %></td>
    </tr>
  <% end %> </h2>
</table>
