]<!DOCTYPE html>
<html>
<head>
  <title>Chatting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class ="container">
<p class = "text-right"><h1><%= link_to "孩子，該回首頁嘍 ( ´ ▽ ` )ﾉ", root_path, :class => "btn btn-primary btn-lg active" %></h1></p>



<%= t("hello_world") %>

<%= t("admin.foo") %>
<%= t("admin", :scope => "foo") %>

<% if current_user %>
         <p class = "text-right"><%= link_to "心情分享", new_topic_path, :class => "btn btn-info btn-sm" %> |
         <%= link_to( t(:change_password) , edit_registration_path(:user), :class => "btn btn-warning btn-sm") %> |
         <%= link_to( t(:logout), destroy_user_session_path, :class => "btn btn-warning btn-sm", :method => :delete) %> |
     <% else %>
         <%= link_to('註冊', new_registration_path(:user), :class => "btn btn-success btn-sm") %> |
         <%= link_to('一般使用者登入', new_session_path(:user), :class => "btn btn-warning btn-sm") %> |
         <%= link_to "登入 Facebook", user_omniauth_authorize_path(:facebook), :class => "btn btn-primary btn-sm" %>

     <% end %>


     <p style="color: green"><%= flash[:notice] %></p>
     <p style="color: red"><%= flash[:alert] %></p>

       <%= image_tag("speechless.png") %>
     <p><div class="logo"></div></p>
<%= yield %>
    </div>
  </div>
</div>

  <%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-TW" %>
  <%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>

</body>
</html>
